<!--All of the code on this page was taken from the site view-source:https://greatdivide.com/about/#history.  This code and
    information is meant as filler for this page and does not represent my own work nor what I would represent as MTHeadBrewing 
    company.  -->
@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<div class="wpb_text_column wpb_content_element ">
    <div class="wpb_wrapper">
        <h1 style="text-align: left;">History</h1>
        <p>D<span style="font-weight: 400;">uring the late 80s, Brian Dunn spent 5 years overseas building farms in developing countries.  Having grown up in a family that valued good food and drink, Dunn grew his knowledge and passion for beer during his travels.  Dunn eventually returned to Colorado, started homebrewing and went to graduate school.  Upon graduation in 1993, when the Denver beer scene barely existed, he set out to found what would eventually become one of America’s most decorated and celebrated craft breweries.</span></p>
        <p><span style="font-weight: 400;">Beginning with a marketing study and a business plan, Dunn saw an opportunity in what would soon become Denver’s Ballpark Neighborhood to brew uniquely balanced, flavorful beers.  With financial help from family, friends and a loan from the City of Denver, his dream of brewing commercially became reality in 1994.</span></p>

    </div>
</div>
<div class="vc_inner">
    <div class="vc_row vc_row-fluid  ">
        <div class="wpb_column agni_column_container vc_column_container vc_col-sm-6">
            <div class="agni_column-inner vc_column-inner text-left">
                <div class="wpb_wrapper">
                    <div class="wpb_text_column wpb_content_element ">
                        <div class="wpb_wrapper">
                            <h3>Ballpark</h3>
                            <p>The brewery started small and in the beginning Dunn was the only full-time employee: brewing, bottling and selling to accounts all in the same day.  As the brewery grew, the beer spoke for itself.  Dunn’s beers were balanced, flavorful and representative of a lifestyle that is uniquely Colorado.  While Great Divide’s ethos may be globally-inspired, our beers are distinctly Denver.</p>
                            <p>Since 1994 we’ve brewed all sorts of exciting beer styles, added lots of brewing capacity and we’ve assembled a great staff.  In 2001, we bought our building – which used to be an old dairy processing plant – and set out for over a decade of exponential growth. In 2011, we realized we would soon outgrow our space and began looking for land to expand&#8211; knowing that leaving the city was not an option.</p>

                        </div>
                    </div>
                </div>
            </div>
        </div><div class="wpb_column agni_column_container vc_column_container vc_col-sm-6">
            <div class="agni_column-inner vc_column-inner text-left">
                <div class="wpb_wrapper">
                    <div class=" agni-image custom-image-container text-left"><div class="wpb_wrapper"><img style="" width="1024" height="683" src="https://greatdivide.com/wp-content/uploads/2015/06/Brian-in-tank-farm-1024x683.jpg" class="fullwidth-image attachment-large  attachment-large" alt="" srcset="https://greatdivide.com/wp-content/uploads/2015/06/Brian-in-tank-farm-1024x683.jpg 1024w, https://greatdivide.com/wp-content/uploads/2015/06/Brian-in-tank-farm-300x200.jpg 300w, https://greatdivide.com/wp-content/uploads/2015/06/Brian-in-tank-farm-768x512.jpg 768w, https://greatdivide.com/wp-content/uploads/2015/06/Brian-in-tank-farm-1080x720.jpg 1080w, https://greatdivide.com/wp-content/uploads/2015/06/Brian-in-tank-farm-640x427.jpg 640w" sizes="(max-width: 1024px) 100vw, 1024px" /></div></div><div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="wpb_text_column wpb_content_element ">
    <div class="wpb_wrapper">
        <h3>The Barrel Bar</h3>
        <p><span style="font-weight: 400;">We are a Denver brewery, and have been involved in the craft beer scene and the community here since the beginning. In 2013, we bought 5 acres in the nearby RiNo neighborhood. It wasn’t easy, but we are so happy to have a place only a mile down the road where we can continue growing for the next 21 years. We broke ground on phase one of our expansion in 2014. In 2015, we finally had the space in our new packaging facility to begin canning. We celebrated the opening of our Barrel Bar in July, and immediately began looking ahead to our Phase Two expansion. </span></p>
        <p><span style="font-weight: 400;">Our brewery has become what it is today thanks to our hardworking, creative and passionate employees. Here at Great Divide, Bold Character is more than just a catchphrase, it’s the philosophy behind what we brew, how we think, and what we believe. </span></p>
    </div>
    <
</div>