@{
    ViewBag.Title = "Contact Page";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    M.T.Head Brewing Co.<br />
    27307 - 159th Ave E <br />
    Graham, WA 98338<br />
    <abbr title="E-Mail">E:</abbr>
    info@mtheadbrewingco.com<br />
    <abbr title="Phone">P:</abbr>
    253.208.8999
</address>

<address>
    <strong>Closures:</strong>   <a href="https://www.facebook.com/MTHeadBrewing"><underline>Please check out our Facebook page for closures</underline></a><br />
</address>

<p align="center"><iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=27307+-+159th+Ave+E+Graham,+WA+98338&amp;sll=46.990558,-122.236633&amp;sspn=0.587336,1.389771&amp;ie=UTF8&amp;hq=&amp;hnear=27307+159th+Ave+E,+Graham,+Pierce,+Washington+98338&amp;ll=47.115,-122.150116&amp;spn=0.327098,0.583649&amp;z=10&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=27307+-+159th+Ave+E+Graham,+WA+98338&amp;sll=46.990558,-122.236633&amp;sspn=0.587336,1.389771&amp;ie=UTF8&amp;hq=&amp;hnear=27307+159th+Ave+E,+Graham,+Pierce,+Washington+98338&amp;ll=47.115,-122.150116&amp;spn=0.327098,0.583649&amp;z=10&amp;iwloc=A" style="color:#0000FF;text-align:left">View Larger Map</a></small></p>