@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>M.T. Head Brewery</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Beer Is What We Do!</h2>
        <p>
            Tim and Renee Rockey opened the doors of M.T. Head Brewing Company July 1st of 2009.
            We are a small, artisanal style brewery producing less than 200 barrels per year.
            The beers are very limited in distribution and much of the production is sold exclusively at the brewery. 
            Some of our beers may be found at local, south sound, tap houses.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Your Beer</h2>
        <p>All beers are currently being produced on a 7 Barrel system, with special attention to quality control. Only the finest malts and freshest hops are used in these fine beers. </p>
        <p><a class="btn btn-default" href="/Beer">Our Brews &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Come Visit Us</h2>
        <p>The brewery is located on a small acreage about 20 miles southeast of Tacoma, Washington with a beautiful, unobstructed view of Mt. Rainer.
            Stop by and visit the brewery and tasting room on Friday or Saturday from 3:00 pm to 7:00 pm. </p>
        <p><a class="btn btn-default" href="/Home/Contact">Location &raquo;</a></p>
    </div>
</div>